<p-card header="Register purchase">
    
    <div class="formgrid grid" [formGroup]="formBuyItem">
    
        <div class="field col-12">
    
            <label>Item</label>
            <p-dropdown 
                class="flex flex-column" 
                formControlName="id_item"
                [emptyFilterMessage]="'No se encontraron resultados'"
                [(ngModel)]="selectedItem" 
                [filter]="true" 
                filterBy="nombre"
                [showClear]="true" 
                [options]="this.trove.items" 
                placeholder="Item"
                optionLabel="nombre"
            >
            </p-dropdown>

        </div>

        <div class="field col-12 md:col-6">
            
            <label>Registration date</label>
            <p-calendar
                formControlName="fecha_registro" 
                class="flex flex-column w-full" 
                [(ngModel)]="hoy"
            ></p-calendar>
        </div>

        <div class="field col-12 md:col-6">
    
            <label>Purchase price</label>
            <p-inputNumber 
                inputId="integeronly" 
                formControlName="precio"
                [minFractionDigits]="1"
                class="w-full"
                [style]="{width: '100%'}"
            ></p-inputNumber>
        </div>

        <div class="field col-12">
            
            <label>Purchased amount</label>
            <p-inputNumber 
                inputId="integeronly" 
                formControlName="cantidad"
                [style]="{width: '100%'}"
                class="w-full"
            ></p-inputNumber>
        </div>

        <div class="col-12 flex flex-wrap">
    
            <p-button 
                [style]="{'width':'100%'}" 
                label="Register purchase"
                class="col-12 w-full px-0 p-button-success" 
                (onClick)="crearBuyItem()"
                styleClass="p-button-success"
                [disabled]="buttonDisabled"
            ></p-button>
        </div>

    </div>
</p-card>