<p-confirmDialog #cd>
    <ng-template pTemplate="header">
        <div class="formgrid grid" [formGroup]="formClave">

            <div class="field col-12 md:col-5">
        
                <input 
                    pInputText 
                    formControlName="clave" 
                    placeholder="Enter password"
                    class="w-full" 
                />
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>

<p-table
    #dt
    [value]="this.trove.flippings"
    dataKey="id"
    [(selection)]="selectedFlipping"
    [rows]="5"
    [showCurrentPageReport]="true"
    [loading]="loading()"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['nombre']"
    [tableStyle]="{'min-width': '75rem'}"
    [scrollable]="true" 
    scrollHeight="400px"
>
    
    <ng-template pTemplate="caption">
        <div class="flex">
            <span class="p-input-icon-left ml-auto">
                
                <i class="pi pi-search"></i>
                
                <input 
                    pInputText 
                    type="text" 
                    class="w-full" 
                    (input)="dt.filterGlobal($event.target.value, 'contains')" 
                    placeholder="Search" 
                />
            </span>
        </div>
    </ng-template>
    
    <ng-template pTemplate="header">
        <tr>
            <th class="w-2">Name</th>
            <th class="w-2">Purchase price</th>
            <th class="w-2">Purchased amount</th>
            <th class="w-2">Date</th>
            <th class="w-1" >Delete</th>
        </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-flipping>
        <tr>
            <td>
                {{ flipping.item.nombre }}
            </td>
            <td>
                {{ flipping.precio }}
            </td>
            <td>
                {{ flipping.cantidad }}
            </td>
            <td>
                {{ trove.getFortmaroDate(flipping.fecha) }}
            </td>
            <td>
                <p-button 
                    (click)="deleteFlipping(flipping)" 
                    icon="pi pi-trash" 
                    styleClass="p-button-raised p-button-danger"
                ></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>