<p-card header="Registrar venta">
    
    <div class="formgrid grid" [formGroup]="formSellItem">
    
        <div class="field col-12">
                
            <p-dropdown 
                class="flex flex-column" 
                formControlName="id_item"
                [emptyFilterMessage]="'No se encontraron resultados'"
                [(ngModel)]="selectedItem" 
                [filter]="true" 
                filterBy="nombre"
                [showClear]="true" 
                [options]="this.trove.items" 
                placeholder="Item"
                optionLabel="nombre"
            >
            </p-dropdown>

        </div>

        <div class="field col-12 md:col-6">
            
            <p-calendar
                formControlName="fecha_registro" 
                class="flex flex-column w-full" 
                [(ngModel)]="hoy"
            ></p-calendar>
        </div>

        <div class="field col-12 md:col-6">
    
            <input 
                pInputText 
                formControlName="precio" 
                placeholder="Precio venta"
                class="w-full" 
                type="number"
            />
        </div>

        <div class="field col-12">
    
            <input 
                pInputText 
                type="number"
                formControlName="cantidad" 
                placeholder="Cantidad vendidad"
                class="w-full" 
            />
        </div>

        <div class="col-12 flex flex-wrap">
    
            <p-button 
                (onClick)="crearSellItem()"
                class="col-12 w-full px-0" 
                [style]="{'width':'100%'}" 
                label="Crear Venta"
            ></p-button>
        </div>

    </div>
</p-card>