<p-card header="Create item">
    
    <div class="formgrid grid" [formGroup]="formItem">
    
        <div class="field col-12 md:col-6">
    
            <label>Item name</label>
            <input 
                pInputText 
                formControlName="nombre" 
                class="w-full" 
            />
        </div>
    
        <div class="field col-12 md:col-6">
    
            <label>Item type</label>
            <p-dropdown 
                class="flex flex-column" 
                formControlName="tipo"
                id="tipo" 
                [options]="tipo" 
                optionLabel="nombre"
            ></p-dropdown>
        </div>

        <div class="field col-12 md:col-6">
    
            <label>Units</label>
            <p-inputNumber 
                inputId="integeronly" 
                formControlName="unidades"
                class="w-full"
                [style]="{width: '100%'}"
            ></p-inputNumber>
        </div>

        <div class="field col-12 md:col-6">
    
            <label>Max stock</label>
            <p-inputNumber 
                inputId="integeronly" 
                formControlName="stock"
                class="w-full"
                [style]="{width: '100%'}"
            ></p-inputNumber>
        </div>

        <div class="col-12 flex flex-wrap">
    
            <p-button 
                (onClick)="crearItem()" 
                class="col-12 w-full px-0" 
                [style]="{'width':'100%'}" 
                label="Create item"
                [disabled]="buttonDisabled"
            ></p-button>
        </div>
    </div>
</p-card>