<p-confirmDialog #cd>
    <ng-template pTemplate="header">
        <div class="formgrid grid" [formGroup]="formClave">

            <div class="field col-12 md:col-5">
        
                <input 
                    pInputText 
                    formControlName="clave" 
                    placeholder="Enter password"
                    class="w-full" 
                />
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>

<p-table
    #dt
    [value]="this.trove.sellItems"
    dataKey="id"
    [(selection)]="selectedSellItem"
    [rows]="5"
    [showCurrentPageReport]="true"
    [loading]="loading()"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['nombre', 'tipo']"
    [tableStyle]="{'min-width': '75rem'}"
    [scrollable]="true" 
    scrollHeight="400px"
>
    
    <ng-template pTemplate="caption">
        <div class="flex">
            <span class="p-input-icon-left ml-auto">
                
                <i class="pi pi-search"></i>
                
                <input 
                    pInputText 
                    type="text" 
                    class="w-full" 
                    (input)="dt.filterGlobal($event.target.value, 'contains')" 
                    placeholder="Search" 
                />
            </span>
        </div>
    </ng-template>
    
    <ng-template pTemplate="header">
        <tr>
            <th class="w-2">Item</th>
            <th pSortableColumn="fechaRegistro" class="w-2"><p-sortIcon field="fechaRegistro"></p-sortIcon>Date of purchase</th>
            <th pSortableColumn="precio" class="w-2"><p-sortIcon field="precio"></p-sortIcon>Sale price</th>
            <th class="w-2">Amount</th>
            <th class="w-2">Price by unit</th>
            <th class="w-1">Delete</th>
        </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>
                {{ item.item.nombre }}
            </td>
            <td>
                {{ trove.getFortmaroDate(item.fechaRegistro) }}
            </td>
            <td>
                {{ item.precio | number }}
            </td>
            <td>
                {{ item.cantidad }}
            </td>
            <td>
                {{ item.precioUnidad | number }}
            </td>
            <td>
                <p-button 
                    (click)="deleteSellItem(item)" 
                    icon="pi pi-trash" 
                    styleClass="p-button-raised p-button-danger"
                ></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>